@font-face {
  font-family: 'More Sugar';
  src: url(fonts/more-sugar.regular.ttf) format('truetype');
}

html:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  --gradient-start: #fcf4c8;
  --gradient-end: #fffcef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

.card-block {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4%;
}

.main-content {
  margin: 2em auto;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.sidebar {
  width: auto;
}